[include]
	path = ~/.gitconfig-local

[user]
	name = Aryan Gupta
	email = me@theguptaempire.net

[credential]
	helper = store --file ~/.git-credentials

[core]
	editor = vim

[diff]
	tool = default-difftool

[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE

[pull]
	rebase = false

[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
