# ignore everything except
/*

# files
!/.gitignore
!/betterlockscreenrc

# folders
!/alacritty/
!/awesome/
!/bspwm/
!/cava/
!/Code - OSS/
!/dunst/
!/flameshot/
!/i3/
!/mpd/
!/ncmpcpp/
!/picom/
!/polybar/
!/rofi/
!/sxhkd/
!/zathura/
