# ignore everything except
/*

# files
!/.gitignore
!/betterlockscreenrc

# folders
!/alacritty/
!/awesome/
!/bspwm/
!/cava/
!/Code - OSS/
!/dunst/
!/flameshot/
!/i3/
!/mpd/
!/ncmpcpp/
!/picom/
!/polybar/
!/rofi/
!/sxhkd/
!/zathura/
!/gtk-3.0/

# Code - OSS
/Code - OSS/*[Cc]ache*
/Code - OSS/**
!/Code - OSS/User/settings.json
