# ignore everything except
/*

# files
!/.gitignore
!/betterlockscreenrc

# folders
!/alacritty/
!/awesome/
!/bspwm/
!/cava/
!/dunst/
!/flameshot/
!/i3/
!/mpd/
!/ncmpcpp/
!/picom/
!/polybar/
!/rofi/
!/sxhkd/
!/zathura/
!/gtk-3.0/

# discord app singles
!/discord/
/discord/**
!/discord/settings.json


# vscope app singles
!/Code - OSS/
/Code - OSS/*[Cc]ache*
/Code - OSS/**
!/Code - OSS/User/settings.json
